h2 {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.time{
  margin-left: 400px;
}
body {
  background: url("../images/solar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: grey;
}

.btn {
    margin: 5px;
    background: #c4e5ed;
}

.col-md-6 {
    text-align : justify;
}

a{
    color: white;
}

.well {
     background-color: rgba(253, 250, 300, 0.4);
     color: black;
 }

.registerButton {
    background: #5C5685;
    color: white;
}
.panel-heading {
    background: #5C5685;
    color: white;
}
