h1 {
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.time{
  margin-left: 400px;
}
body {
  background: url("../images/solar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: grey;
}

.btn {
    margin: 5px;
    background: #c4e5ed;
}

.col-md-6 {
    text-align : justify;
}

a{
    color: white;
}

.well {
     background-color: rgba(253, 250, 300, 0.4);
     color: black;
     margin-left: 50px;
 }

.registerButton {
    background: black;
    color: white;
}
.panel-heading {
    background: black;
    color: white;
}

#outputResults{
  margin-left: 50px;
}
@media screen and (max-width: 768px) and (min-width: 600px) {
	body {
		background-color: black;
		color: green;
	}
}

@media screen and (max-width:480px) {
	body {
		background-color: teal;
	}
	.centerTest {
		width: 100%;
		text-align: center;
	}
}
